.localContainer{
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url("../../../../assets/img/register.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


