<header class="header">
    <nav class="navbar">
        
        <div class="navbar_logo">
            <a class="logo_text"> AppBooks </a>
        </div>
        
        <div class="navbar_options" #menuResponsive>
            <a *ngIf="!authService.isLogged" class="options_text" routerLink="/login" routerLinkActive="options_text--active" on-click="desplegarMenu()"> Login</a>
            <a *ngIf="!authService.isLogged" class="options_text" routerLink="/login/register" routerLinkActive="options_text--active" on-click="desplegarMenu()"> Registro</a>
            <a *ngIf="authService.isLogged" class="options_text" routerLink="/book" routerLinkActive="options_text--active" on-click="desplegarMenu()"> Books</a>
            <a *ngIf="authService.isLogged" class="options_text" routerLink="/book/add-book" routerLinkActive="options_text--active" on-click="desplegarMenu()"> AddBook</a>
            <a *ngIf="authService.isLogged" class="options_text" routerLink="/book/update-book" routerLinkActive="options_text--active" on-click="desplegarMenu()"> UpdateBook</a>
        </div>

        <div class="navbar_icon">
            <a on-click="desplegarMenu()"><i class="fas fa-bars"></i></a>
        </div>

    </nav>
</header>
