<div class="card"> 
    <div class="cardInfo">
        <div class="info info--margin">
            <i class="fa-solid fa-user-ninja icon"></i>
        </div>
        <div class="info">
            <p>Id_Author:</p>
            <p>{{author?.id_author}}</p>
        </div>
        <div class="info">
            <p>Nombre:</p>
            <p>{{author?.first_name}}</p>
        </div>
        <div class="info">
            <p>Apellido:</p>
            <p>{{author?.last_name}}</p>
        </div>
    </div>
</div>


